[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Unity package archives (CRITICAL)
Packages/*.tgz

# Big asset types (optional but recommended)
*.psd
*.fbx
*.tif
*.tga

.vs/
.vscode/
.idea/

.DS_Store
Thumbs.db
sysinfo.txt
